<% form_tag({:action => 'edit', :tab => 'plugins'}) do %>

<p>
  <label><%= l(:label_users_can_view_own_skills) %></label><%= check_box_tag 'settings[users_can_view_own_skills]', 1, @settings['users_can_view_own_skills'] %>
</p>

<p>
  <label><%= l(:label_view_only_assignable_issues) %></label><%= check_box_tag 'settings[view_only_assignable_issues]', 1, @settings['view_only_assignable_issues'] %>
</p>


<fieldset>
<legend><%= l(:text_select_available_statuses) %></legend>

<% IssueStatus.all.each do |status| %>
<% configname = 'assignable_status_' + status.name.gsub(" ", "_").downcase%>
<p>
	<label><%= status.name %></label><%= check_box_tag 'settings[' + configname + ']', 1, @settings[configname] -%>
</p>
<% end %>
</fieldset>

<% end %>
