<!-- TODO: :view_own_skills or :manage_user_skills -->
<!-- Problem: no project associated with this page, and therefore no role! -->
<!-- % if authorize_for(:view_own_skills) % -->

<div class="contextual">
	<% if authorize_globally_for('user_skill_evaluations', :new) %>
	    <%= 
			link_to(l(:button_manage_user_skills), "#", 
				:onclick => "Element.toggle('show_skills');Element.toggle('edit_skills');Form.Element.focus('user_skill_evaluation_new_user_skill_change_attributes_-1_new_level');return false;")
		%>
	<% end %>
</div>

<div id="edit_skills" style="display: none;">
	<h3><%=l(:label_skills_user)%></h3>


	<%= error_messages_for 'user_skill_evaluation' %>

	<% new_change_id = 0 %>
	<% remote_form_for(:user_skill_evaluation, @user_skill_evaluation, 
				:url => { :controller => "user_skill_evaluations", :action => "new"}) do |f| %>
		<%= f.hidden_field :user_id, :value => @user.id %>
	
		<table style="width:100%">

		<% skillcount = 0 %>
		<% numcols = 3 %>
		<% if @user.user_skills.any? %>
			<% @user_skill_evaluation.user_skill_changes.each do |change| %>
				<% skill = change.skill %>
			    <% new_or_existing = change.new_record? ? 'new' : 'existing' %> 
			    <% prefix = "user_skill_evaluation[#{new_or_existing}_user_skill_change_attributes][]" %> 
			
			    <% fields_for prefix, change do |change_form| %>
					<% if skillcount % numcols == 0 %>
						<tr>
					<% end %>
				    <td width="10%"><span style="white-space: nowrap">
				    	<%= link_to skill.name, 
									{ :controller => 'skills', :action => 'show', :id => skill, :project_id => @project }, 
									:title => h(skill.description)
						%>: <%= change_form.select :new_level, (0..5).to_a %> 
						<%= change_form.hidden_field :old_level %>
						<%= change_form.hidden_field :skill_id %>
					</span></td>
					<td>	</td>
					<% if skillcount % numcols == (numcols-1) %>
						</tr>
					<% end %>
					<% skillcount += 1 %>
			    <% end %>
			<% end %>

			<% if skillcount % numcols < (numcols-1) %>
				<td colspan="<%= ((numcols-1) - (skillcount % numcols)) * 2 %>">	</td>
			  </tr>
			<% end %>
		<% end %>

		<tr>
			<% new_change_id = -@user_skill_evaluation.user_skill_changes.length - 1 %>
		    <% prefix = "user_skill_evaluation[new_user_skill_change_attributes][#{new_change_id}]" %>
			<% change = UserSkillChange.new(:id => new_change_id, :old_level => 0, :new_level => 0, :skill => Skill.new)%> 
		    <% fields_for prefix, change do |change_form| %>
			    <td width="10%"><span style="white-space: nowrap">
					<%= change_form.label :new_skill %>:
			    	<%= change_form.text_field :name, :size => 20 %> <%= change_form.select :new_level, (1..5).to_a %> 
					<div class="autocomplete" id="autocomplete_div" style="display:none"></div>
					<%= change_form.hidden_field :old_level %>
					<%= change_form.hidden_field :skill_id %>
				</span></td>
				<td>	</td>
		    <% end %>
		</tr>
		<tr>
		  	<td colspan="<%= numcols * 2 %>">
		  		<%= f.label :issue_id %> #
				<%= f.text_field :issue_id, :size => 10 %><br/>
		  		<%= f.label :assessment %>
				<%= f.text_area :assessment, :rows => 5, :class => 'wiki-edit', :required => true %>
				<%= wikitoolbar_for 'user_skill_evaluation_assessment' %>
		  	</td>
		</tr>
		<tr>
		  	<td colspan="<%= numcols * 2 %>">
			  <%= submit_tag l(:button_submit_evaluation) %>
			  <%= 
				link_to(l(:button_cancel), "#", 
					:onclick => "Element.toggle('show_skills');Element.toggle('edit_skills');return false;")
				%>
		  	</td>
		</tr>
	<% end %>
	</table>
	
</div>
	
<% content_for :header_tags do %>
	<%= autocomplete_skills_for "user_skill_evaluation_new_user_skill_change_attributes_#{new_change_id}_name", "autocomplete_div" %>
<% end %>
