
	<div>
		<br/>
		<h3><%=l(:label_user_skill_evaluation_plural)%></h3>
		<table class="list">
		  <thead>
			  <tr>
			  	<th><%= l(:label_evaluation_date) %></th>
				<th><%= l(:label_issue) %></th>
				<th><%= l(:label_assessment) %></th>
				<th><%= l(:label_user_skill_changes) %></th>
			  </tr>
		  </thead>
		  <tbody>
			<% @user_skill_evaluations.each do |eval| %>
			  <tr class="<%= cycle("odd", "even") %>">
			  	<td><%= l(:label_evaluation_time_by, 
					  :age => time_tag(eval.created_on), 
				          :author => link_to(eval.evaluator.name, 
				                             :controller => 'users', 
				                             :action => :show, 
				                             :id => @user)) %></td>
				<td>
				  <% unless eval.issue.nil? %>
				  <%= link_to "#{eval.issue.tracker.name} ##{eval.issue.id}", 
				      { :controller => 'issues', :action => 'show', :id => eval.issue }
				  %>
				  <% end %>
				</td>
				<td>
				  <%= text = h(eval.assessment)
				      if text.length > 80
				          text = text[0..76]
				          last = text.split.last
				          text[0..-(last.length+2)] + '... ' + link_to("[#{l(:label_more).downcase}]", { :controller => 'user_skill_evaluations', :action => :show, :id => eval })
				      else
				          text
				      end
				  %>
				</td>
				<td>
					<ul>
						<% eval.user_skill_changes.each do |change| %>
							<li><%= l("text_user_skill_"+change.type.downcase, :skill => change.skill.name, :old_level => change.old_level, :new_level => change.new_level) %></li>
						<% end %>
					</ul>
				</td>
			  </tr>
			<% end %>
			<% if @user_skill_evaluations.nil? || @user_skill_evaluations.length == 0 %>
			 <tr><td colspan="4" style="text-align: center;"><%= l(:text_no_user_skill_evaluations)%></td></tr>
			<% end %>
		  </tbody>
		</table>
	</div>
	
