<div id="matched_issues" class="issue">
<h3><%=l(:label_issue_plural)%></h3>

<% form_remote_tag(:url => { :controller => "skills_matcher", :action => :find_issues_for_user}) do %>
	<%= l(:label_user) %> #
	<%= text_field_tag 'user_id', @user.nil? ? '' : @user.id %>
	<%= submit_tag l(:button_find_issues) %>
<% end %>

<p>&nbsp;</p>
<table class="list">
<% numcols = 1 %>
<% if !@user.nil? %>
  <% numcols = 1 + @user.user_skills.length %>
  <thead>
	<tr>
		<th style="text-align: left;">
	  		<%= link_to "#{@user.name} (#{@user.login})", 
				{ :controller => 'user_skills', :action => 'show', :user_id => @user }, 
				:title => h(@user.name)
			%>
		</th>
  		<% @user.user_skills.each do |us| %>
		<th style="text-align: left;">
			<%= us.skill.name %>: <%= us.level %>
		</th>
		<% end %>
	</tr>
  </thead>
<% end %>

  <tbody>
<% if @matched_issues.nil? %>
		<tr><td colspan="<%= numcols %>" style="text-align: center;"><%= l(:text_enter_criteria_for_search) %></td></tr>
<% elsif @matched_issues.empty? %>
		<tr><td colspan="<%= numcols %>" style="text-align: center;"><%= l(:text_no_results_for_search) %></td></tr>
<% else %>
	<% for i in @matched_issues %>
	  <tr class="<%= cycle("odd", "even") %>">
	  	<td>
	  		<%= link_to "#{i.tracker.name} ##{i.id} (#{i.status}): #{i.subject}", 
				{ :controller => 'issues', :action => 'show', :id => i }
			%>
		</td>
  		<% @user.user_skills.each do |us| %>
		<% rskills = i.required_skills.select{|rs| rs.skill == us.skill} %>
		<td>
			<% if rskills.nil? || rskills.empty? %>
				&nbsp;
			<% else %>
				<% rs = rskills[0] %>
				<%= rs.skill.name %>: <%= rs.level %>
			<% end %>
		</td>
		<% end %>
	  </tr>
	<% end %>
<% end %>
  </tbody>
</table>

</div>
