<% if @project.module_enabled?("skills") %>

<% if authorize_for(:skills, :show) %>
<div id="required_skills">
<hr />

<div class="contextual">
<% if authorize_for('required_skills', 'add') %>
    <%= toggle_link l(:button_add), 'add-skill-form-', :focus => 'related_skill_name-' %>
<% end %>
</div>

<p><strong><%=l(:label_skills_required)%></strong></p>

<% if @action == "block" %>
	<script type="text/javascript">
		alert("<%= l(:text_add_skill_block) %>");
	</script>
<% elsif @action == "warn" %>
	<script type="text/javascript">
		if (confirm("<%= l(:text_add_skill_warn) %>")) {
			$("required_skill_action").value = "force";
			$("add-skill-form").commit.click();
		}
	</script>
<% end %>


<%= render :partial => 'required_skills/add_related_skills_form', 
           :locals => { :related_skills => @issue.required_skills, 
                        :controller => 'required_skills', 
                        :project => @project,
                        :related_type => 'issue',
                        :related_id => @issue.id,
                        :category => nil,
                        :has_permission => authorize_for(:required_skills, :add)
                      } %>


<% if @issue.required_skills.any? && authorize_for('required_skills', 'assign_user') %>
	<p><%= link_to l(:label_find_assignees), { :controller => 'skills_matcher', :action => :find_users_for_issue, :issue_id => @issue, :assign_to_issue => "true" } %></p>
<% end %>

</div>

<% end %>

<% end %>
