<% unless @project.enabled_modules.select{ |m| m.name == "skills" }.empty? %>

<% if authorize_for(:skills, :show) %>
<div id="required_skills">
<hr />

<div class="contextual">
<% if authorize_for('required_skills', 'add') %>
    <%= toggle_link l(:button_add), 'add-skill-form', :focus => 'required_skill_name' %>
<% end %>
</div>

<p><strong><%=l(:label_skills_required)%></strong></p>

<%= error_messages_for 'required_skill' %>
<% if @action == "block" %>
	<script type="text/javascript">
		alert("<%= l(:text_add_skill_block) %>");
	</script>
<% elsif @action == "warn" %>
	<script type="text/javascript">
		if (confirm("<%= l(:text_add_skill_warn) %>")) {
			$("required_skill_action").value = "force";
			$("add-skill-form").commit.click();
		}
	</script>
<% end %>

<% if @issue.required_skills.any? %>
<table style="width:100%">
<% skillcount = 0 %>
<% numcols = 3 %>
<% @issue.required_skills.sort_by{|rs| rs.skill.name}.each do |rskill| %>
  <% skill = rskill.skill %>
  <% if skillcount % numcols == 0 %>
  <tr>
  <% end %>
    <td width="10%"><span style="white-space: nowrap">
    	<%= link_to skill.name, 
					{ :controller => 'skills', :action => 'show', :id => skill, :project_id => @project }, 
					:title => h(skill.description)
		%>: <%= rskill.level %> 
	</span></td>
	<td>
	    <small><%= link_to_remote_if_authorized "", 
						{ :url => {:controller => 'required_skills', 
									:action => 'remove', 
									:id => rskill, 
									:issue_id => @issue
								},
							:confirm => l(:text_required_skill_remove_confirmation, :name => skill.name)},
						:class => 'icon icon-del'  %></small>
    </td>
	<td>	</td>
  <% if skillcount % numcols == (numcols-1) %>
  </tr>
  <% end %>
  <% skillcount += 1 %>
<% end %>
<% if skillcount % numcols < (numcols-1) %>
	<td colspan="<%= ((numcols-1) - (skillcount % numcols)) * 3 %>">	</td>
  </tr>
<% end %>
</table>
<% end %>

<% if authorize_for(:required_skills, :add) %>
<% remote_form_for(:required_skill, @required_skill, 
			:url => { :controller => "required_skills", :action => "add"}, 
			:html => { :id => "add-skill-form", :style => (@required_skill ? '' : 'display: none;') }) do |rs| %>
	<%= rs.hidden_field :issue_id, :value => @issue.id %>
	<%= rs.hidden_field :action, :value => "add" %>
	<%= l(:label_skill) %>
	<%= rs.text_field :name, :size => 20, :autocomplete => "off" %>
	<div class="autocomplete" id="required_skill_name_autocomplete" style="display:none"></div>
   	<%= l(:label_level) %>
	<%= rs.select :level, (1..5).to_a%>
	<%= submit_tag l(:button_add) %>
	<%= toggle_link l(:button_cancel), 'add-skill-form'%>
<% end %>
<% end %>

<% if @issue.required_skills.any? && authorize_for('required_skills', 'assign_user') %>
	<p><%= link_to l(:label_find_assignees), { :controller => 'skills_matcher', :action => :find_users_for_issue, :issue_id => @issue, :assign_to_issue => "true" } %></p>
<% end %>

</div>

<% content_for :header_tags do %>
	<% active_skills = Skill.all_active %>
	<% if active_skills %>
    <%= stylesheet_link_tag 'autocomplete', :plugin => 'redmine_skills' %>
	<script>
	  document.observe("dom:loaded", function() {
		var data = "<%= active_skills.collect{|s| s.name}.join(',')%>".split(",");
		new Autocompleter.Local("required_skill_name", "required_skill_name_autocomplete", data, {partialChars: 2, choices: 20});
	  });
	</script>
	<% end %>
<% end %>

<% end %>

<% end %>
